.SimpleGroup {
  background-color: white;
  font-weight: 900;
  width: 140px;
  outline: 3px solid rgb(191, 167, 117);
  text-align: center;

  &_titleArea {
    color: white;
    background-color: #9a1032;
    height: 30px;
  }

  &_teamsArea {
    align-content: center;
    padding: 5px 0px;
  }

  &_title {
    vertical-align: sub;
    text-align: center;
  }

  &_team {
    outline: solid 2px #9a1032;
    height: 30px;
    width: 120px;
    margin: 8px auto;
  }

  &_teamName {
    vertical-align: sub;
    color: black;
  }

  &_teamFlag {
    width: 33.33%;
    float: right;
    outline: 2px solid #9a1032;
  }
}
